@import "variables.scss";

header {
    border-bottom: 1px solid #E4E4E4;
    .container {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 24px;
        padding-bottom: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav {
            flex-grow: 1; 
            padding-left: 132px;
            ul {
                display: flex;
                gap: 32px;
                justify-content: center;
                li {
                    display: inline-block;
                    position: relative;
                    &::before, &::after {
                        content: '';
                        position: absolute;
                        width: 0%;
                        height: 1px;
                        top: 50%;
                        margin-top: -0.5px;
                        cursor: pointer;
                    }
                    &::before {
                        left: 0;
                    }
                    &::after {
                        right: 0;
                        background: #131314;
                        transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
                    }
                    &:hover::before {
                        background: #131314;
                        width: 100%;
                        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
                    }
                    &:hover::after {
                        background: transparent;
                        width: 100%;
                        transition: 0s;
                    }
                    a {
                        display: block;
                        text-decoration: none;
                        font-family: $inter;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 160%;
                        color: #131314;
                    } 
                }                
            }
        }
        .buttons {
            display: flex;
            gap: 48px;
            .burger_menu {
                display: none;
            }
            .sign_in {
                a {
                    font-family: $inter;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 286%;
                    text-align: center;
                    color: #131314;
                    text-decoration: none;
                }
            }
            .join {
                a {
                    font-family: $inter;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 286%;
                    text-align: center;
                    color: #fff;
                    text-decoration: none;
                    padding: 12px 42px;
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
                    background: #000;
                    border-radius: 8px;
                }
            }
        }
    }
}